<p id="notice"><%= notice %></p>

<p>
  <strong>Timing:</strong>
  <%= @food_timing.timing %>
</p>

<%= link_to 'Edit', edit_food_timing_path(@food_timing) %> |
<%= link_to 'Back', food_timings_path %>
