
<br>

<h4>Configure a meal</h4>
<div> 

<p>
 <!-- to show data from DB -->
<% for meal_time in MealTime.all  %>
<!-- <p><%= link_to meal_time.time, meal_time_path(meal_time.id) %></p> -->
<p><%= meal_time.time %></p>
<% end %>



</p>



</div>