<h3>Admin Page</h3>

<div>

	<button type="button" class="btn btn-default"><%= link_to 'Users', users_path%></button>
	<button type="button" class="btn btn-default"><%= link_to 'Restaurants', restaurants_path %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Timings', food_timings_path %></button>

</div>