<!-- the edit page -->

<!--Start Edit types Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h3>Edit Type</h3>
        </div>
      </div>
<!--end Edit type Heading section-->
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <section>
            <div class="shadbox">
              <div class="panel-body">
                <!-- the form is rendered in this page -->
                <%= render 'form' %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
               
                              