<!--  this is step 3 in configure a meal, if showes all the types that are available in specific time and at specific restaurant -->


<!-- Start users Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div id="appHeading" class="section-title text-center">
          <h3>Step 3</h3>
          <p>Choose your desired food group</p>
        </div>
      </div>
<!--end of users heading section-->
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          
            <div class=" shadbox">
              <div class="step3font">
              <table class="table text-center" >
                <% if @types.empty? %>
                <p> No records found</p>
                <% else %>

                <% @types.each do |type| %>
                  <tr>
                  <td>
                    <%= link_to type.name, configure_a_meal_step3_path(:type => type.name) %>
                  </td>
                  </tr>
 <% end %>
                  <% end %>
                </table>
                </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

