<!-- the page that comes after searching by name -->

<!-- Start Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div id="appHeading" class="section-title text-center">
          <h3>The foods you searched for</h3>
          <p>So what will you eat?</p>
        </div>
      </div>
<!--end of heading section-->
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          
            <div class=" shadbox">
              <table class="table text-center" >

                <!-- list all the food results -->
                <% if @foods.empty? %>
                <p> No records found</p>
                <% else %>
                <% @foods.each do |food| %>
                  <tr>
                  <td><%= link_to food.name, food %></td>
                    </tr>
                    <% end %>
                  <% end %>
                </table>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>