<!--  this is step 4 in configure a meal, if showes all the foods that are available in specific time, 
  at specific restaurant and that belong to specific kind of food -->

<!-- Start users Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div id="appHeading" class="section-title text-center">
          <h3>Step 4</h3>
          <p>What will you eat/drink?</p>
        </div>
      </div>
<!--end of users heading section-->
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          
            <div class=" shadbox">
              <div class="step4font">
              <table class="table text-center" >
                <% if @foods.empty? %>
                <p> No records found</p>
                <% else %>

                <% @foods.each do |food| %>
                  <tr>
                  <td>
                    <%= link_to food.name, food %>
                  </td>
                  </tr>
                  <% end %>
                  <% end %>
                </table>
                </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>


