<!-- This page shows the specific restaurant page -->
<!-- Start ShowRestaurants Heading Section -->
<div class='content'>
  <div class='button'></div>
  <div class="mainbody-section text-center">
    <div class="container">
      <div class="row">
        <div id="ShowappsHeading" class="section-title text-center">
          <h3>Show Restaurant</h3>
        </div>
      </div>
<!--end of showRestaurants heading section-->
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div id="showappPanel" >
            <div class="panel-body shadbox">
              <table class="table text-left">
                <tr>
                  <th>Restaurant</th>
                </tr>
                <tr>
                  <td><%= @restaurant.name %></td>
                  <td>
                    <button class="btn btn-default btn-xs">
                          <!--<i class="fa fa-pencil"></i>-->
                          <%= link_to '', edit_restaurant_path, :class =>'fa fa-pencil' %>
                      </button>
                    </td>
                </tr>
              </table>
              <div class="row">
              <%= link_to 'Back', restaurants_path, class: 'appformbutton btn btn-info appbackbutton'%>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              

