<h3>Nutritionist Page</h3>

<div>

	<button type="button" class="btn btn-default"><%= link_to 'Food', foods_path %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Type', types_path %></button>

</div>